baseURL = 'https://chemachin.es/'
languageCode = 'en-us'
title = 'Chemachin'
theme = 'gallery'
relativeURLs = false
canonifyURLs = false
publishDir = 'docs'


[menu]
  [[menu.main]]
    name = "Home"
    url = "/"
    weight = 1
  [[menu.main]]
    name = "About"
    url = "/about/"
    weight = 2
  [[menu.main]]
    name = "Contact"
    url = "/contact/"
    weight = 3