body {
  background-image: url('/images/Chemachineb.png') !important;
  background-size: 40% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}
